@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;500;600;700;800&family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    direction: rtl;
  }
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.paper-noise {
    position: relative;
}

.paper-noise::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.03;
    pointer-events: none;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCwKMpfYZ9jX56LCImELXAZBRMYbHL36M7Tm0B8rStpRUyL0SRGwRCX8tctaRteZwOaiAlwG1uKAMYAMtsc-B_rBpzNd3PnLRxRMlVUeTFp4W44THLl5lGpyplY4kv5ljqiiIsxEYsVmurC0LfFitODdP5OkI-F1u7MiJCVocx4xGV-OIY6wPIyqq8npcpioJ05ffgOxz_tOYTidMSy6U9AbcG_Iwt0L9XzK_UFxt9KIWxkNd-GsPle4YCwNWVRgfvV-GSWnFkREXM);
}

.glass-nav { 
    backdrop-filter: blur(24px); 
    -webkit-backdrop-filter: blur(24px); 
}
